.main {
  &__board {
    padding-bottom: 2rem;
    height: $--main-height;
    display: grid;
    grid-gap: $--grid-gap;
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    &--8,
    &--12,
    &--16 {
      grid-template-columns: repeat(4, 1fr);
    }
    &--8 {
      max-height: 850px;
    }
    &--20 {
      grid-template-columns: repeat(5, 1fr);
    }
    &--24 {
      grid-template-columns: repeat(6, 1fr);
    }
    &--60 {
      width: 100%;
      grid-template-columns: repeat(10, 1fr);
      .card__belt svg {
        width: 40px;
      }
      .card__brand {
        font-size: 70px;
      }
    }
    &--locked {
      pointer-events: none;
    }
  }
}