.main {
  &__board {
    padding-bottom: 2rem;
    min-height: $--main-height;
    display: grid;
    grid-gap: $--grid-gap;
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    &--8,
    &--12,
    &--16 {
      grid-template-columns: repeat(4, 1fr);
    }
    &--20 {
      grid-template-columns: repeat(5, 1fr);
    }
    &--24 {
      grid-template-columns: repeat(6, 1fr);
    }
    &--locked {
      pointer-events: none;
    }
  }
}