.main {
  &__board {
    min-height: $--main-height;
    padding: 24px;
    display: grid;
    grid-gap: $--grid-gap;
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    &--16 {
      grid-template-columns: repeat(4, 1fr);
    }
    &--20 {
      grid-template-columns: repeat(5, 1fr);
    }
    &--24 {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}