.table {
  width: 100%;
  &__header {
    background: $--color-2;
    color: $--color-white;
    height: 32px;
    line-height: 32px;
    font-weight: 700;
    th {
      padding: 0 4px;
      &:first-child {
        text-align: left;
      }
    }
  }
  &__body {
    max-height: 400px;
    overflow-y: scroll;
  }
  &__row {
    height: 16px;
    td {
      vertical-align: middle;
    }
    &.top-five {
      background-color: fade-out($--color-4, .25);
    }
    &.last-five {
      background-color: fade-out($--color-5, .45);
    }
  }
  &__item {
    font-size: .75rem;
    &--user {
      max-width: 100px;
      width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-left: 8px;
    }
    &--attempts,
    &--time,
    &--total,
    &--location,
    &--level {
      text-align: center;
    }
    &--total {
      font-weight: 700;
      color: $--color-2;
    }
  }
}